<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" href="/contact.css">
    <link rel="stylesheet" href="/commons.css">
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
    ul. Ogrodowa 15/5<br>
    32-744 Kraków<br>
    NIP: 1234567889<br>
    Zupa Romana<br>
</div>

</body>
</html>