<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uzupełnianie</title>
    <link rel="stylesheet" href="/resupply.css">
    <link rel="stylesheet" href="/commons.css">
    <link rel="stylesheet" href="/commonsForm.css">
    <script src="/productValidator.js"></script>
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<p class="error" id="quantity-err"></p>

<div id="content">
    <form id="product-form" method="post" onsubmit="return quantityValidate()">
        <p th:if="${info}" th:text="${info}" class="error"></p>
        <input type="text" th:field="*{product.name}" readonly>
        <input id="quantity" type="number" th:field="*{product.quantity}">
        <input type="submit">
    </form>
</div>

</body>
</html>